@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@prim: #53e3a6;

.App {
  text-align: left;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 0.5fr 20fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
  background-color: #e5fcff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.dark-mode {
  background-color: #72195a;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #72195a;
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav {
  grid-area: nav;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  justify-content: left;
  background-color: #4c1036;
  height: min-content;
  text-align: center;
}

.nav__link {
  color: white;
  padding-right: 5px;
  text-decoration: none;
  font-weight: bold;
}

.link:link {
  text-transform: capitalize;
  text-decoration: none;
  padding-right: 5px;
  color: #4c1036;
  font-weight: bold;
}

.link:hover {
  background-color: #71a9f7;
  opacity: 0.3;
}

.link:visited {
  color: #4c1036;
}

.loginBox {
  justify-content: right;
  text-align: right;
  font-size: small;
}

p {
  color: #72195a;
  font-size: small;
}

button:disabled {
  display: none;
}

.articles {
  padding-top: 10px;
  grid-area: main;
}

main {
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: top;
}

h1 {
  font-size: medium;
}

h2 {
  text-transform: capitalize;
  color: #72195a;
}

h3 {
  color: #72195a;
}

h4 {
  color: #72195a;
}

/* Black - 000000
Crimson - D7263D
KSU Purple - 592E83
Fulvous - D98324
Azure X 11 Web Color - EBFCFB */

input[type="submit" i],
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

input[type="submit" i],
button {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

input[type="text" i] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
