@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@prim: #53e3a6;

.App {
  text-align: left;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 0.1fr 50fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
  background-color: #e5fcff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #72195a;
}

.App-darkTheme {
  text-align: left;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 0.1fr 50fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #4c1036;
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
}

.App-darkTheme-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
}

.nav {
  grid-area: nav;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  justify-content: left;
  background-color: #72195a;
  height: min-content;
  text-align: center;
}

.nav__link {
  color: white;
  padding-right: 5px;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:active {
  border-bottom: 3px solid white;
}

.nav__link:hover {
  border-bottom: 3px solid white;
}

.link:link {
  text-transform: capitalize;
  text-decoration: none;
  padding-right: 5px;
  color: #4c1036;
  font-weight: bold;
}

.link-darkTheme:link {
  text-transform: capitalize;
  text-decoration: none;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

.link:visited {
  color: #4c1036;
}

.link-darkTheme:visited {
  color: white;
}

.link:hover {
  border-radius: 1pc;
  background-color: #4c1036;
  color: white;
  padding: 0px;
  height: inherit;
}

.link-darkTheme:hover {
  border-radius: 1pc;
  background-color: #e5fcff;
  color: #4c1036;
  padding: 0px;
}

.loginBox {
  justify-content: right;
  font-size: small;
}

p {
  font-size: small;
}

button:disabled {
  display: none;
}

main {
  max-width: 100vw;
  grid-area: main;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: "sorter" "articles";
}

.sortBy {
  grid-area: "sorter";
  width: 100%;
  text-align: center;
  margin: 10px;
}

.articles {
  grid-area: "articles";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-around;
  max-height: 80vh;
}

h1 {
  font-size: medium;
}

h2 {
  text-transform: capitalize;
}

input[type="submit" i],
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

input[type="submit" i],
button {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

input[type="text" i] {
  width: 15pc;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

form {
  text-align: center;
}

.css-b62m3t-container {
  width: 10pc;
  margin-right: auto;
  margin-left: auto;
  color: grey;
}

section {
  border-style: solid;
  border-radius: 1pc;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
  /* max-height: 10pc; */
  width: 50pc;
  max-width: 80vw;
}
